div.project_profile {
   border: 1px solid var(--color_gray0);
   width: 100%;
   border-radius: var(--radius);
   text-align: center;
}

.divTable.project_profile .divTableCell,
.divTable.project_profile .divTableHead {
   border: 1px solid var(--color_gray0);
}

.divTable.project_profile .divTableRow:nth-child(even) {
   background: var(--color_gray0);
}

.divTable {
   display: table;
}

.divTableRow {
   display: table-row;

}

.divTableCell:nth-child(1) {
   font-weight: 600;
   text-align: left;
}

.divTableCell:nth-child(even) {
   width: 30%;
}

.divTableHeading {
   display: table-header-group;
}

.divTableCell,
.divTableHead {
   display: table-cell;
   padding: 10px;
}

.divTableHeading {
   display: table-header-group;
}

.divTableFoot {
   display: table-footer-group;
}

.divTableBody {
   display: table-row-group;
}