:root {
  --color_primary: #228b43;
  --color_second: #e4da7f;
  --color_white: #FCFCFC;
  --color_black: #414141;
  --color_gray0: #f0f0f0;
  --color_gray: #CCC;

  --color_black_trans0: rgba(0, 0, 0, 0.2);
  --color_black_trans1: rgba(0, 0, 0, 0.4);
  --color_black_trans2: rgba(0, 0, 0, 0.6);
  --color_black_trans3: rgba(0, 0, 0, 0.8);
  --color_white_trans0: rgba(255, 255, 255, 0.2);
  --color_white_trans1: rgba(255, 255, 255, 0.4);
  --color_white_trans2: rgba(255, 255, 255, 0.6);
  --color_white_trans3: rgba(255, 255, 255, 0.8);
  /* Shadows */
  --shadow_box: 0 8px 8px -6px rgba(0, 0, 0, .4);
  --shadow_text: 0 2px 4px rgba(0, 0, 0, .8);
  /* Borders */
  --border: 1px solid var(--color_black_trans0);
  --radius: 5px;
  --blur: 15px;

  --ellipse: 50% 20% / 10% 40%;

  background-color: var(--color_white);
  color: (var(--color_black));
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font_inter), sans-serif;
}

@media only screen and (max-width: 480px) {
  :root {
    --padding25: 12.5px;
    --padding50: 25px;
    --padding100: 50px;
    --container_px: 480px;

    --container: calc(100vw - var(--padding50));
  }
}

@media only screen and (min-width: 480px) {
  :root {
    --nominal_screen: 1366;
    --container_px: 1200px;
    --target_container_px: 455px;
    --target_screen: 480;
    --target_screen_px: 480px;

    --coefficient: calc((100vw - var(--target_screen_px)) / (var(--nominal_screen) - var(--target_screen)));
    --container: calc((var(--coefficient) * 720) + var(--target_container_px));

    --padding25: calc((var(--coefficient) * 6) + 12.5px);
    --padding50: calc((var(--coefficient) * 12.5) + 25px);
    --padding100: calc((var(--coefficient) * 25) + 50px);
  }
}

@media only screen and (min-width: 1366px) {
  :root {
    --nominal_screen: 1920;
    --container_px: 1420px;
    --target_container_px: 1200px;
    --target_screen: 1366;
    --target_screen_px: 1366px;

    --coefficient: calc((100vw - var(--target_screen_px)) / (var(--nominal_screen) - var(--target_screen)));
    --container: calc((var(--coefficient) * 320) + var(--target_container_px));

    --padding25: calc((var(--coefficient) * 6.5) + 18.5px);
    --padding50: calc((var(--coefficient) * 12.5) + 37.5px);
    --padding100: calc((var(--coefficient) * 25) + 75px);
  }
}

@media only screen and (min-width: 1920px) {
  :root {
    --nominal_screen: 3840;
    --container_px: 80vw;
    --target_container_px: 1420px;
    --target_screen: 1920;
    --target_screen_px: 1920px;

    --coefficient: calc((100vw - var(--target_screen_px)) / (var(--nominal_screen) - var(--target_screen)));
    --container: calc((var(--coefficient) * 1920) + var(--target_container_px));

    --padding25: calc((var(--coefficient) * 6.5) + 25px);
    --padding50: calc((var(--coefficient) * 12.5) + 50px);
    --padding100: calc((var(--coefficient) * 25) + 100px);
  }
}

.container {
  width: var(--container);
  margin: 0 auto;
}

::-webkit-scrollbar {
  position: absolute;
  z-index: 48;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background-color: var(--color_white);
}

::-webkit-scrollbar-thumb {
  position: absolute;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  background-color: var(--color_gray);
  border-radius: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* .container {
  max-width: var(--total_container_width);
  margin: auto;
} */

.site-wrapper {
  height: 100vh;
}

.main-wrapper {
  flex: 1 0 auto;
  background-color: var(--color_white);
  border-top: 1px solid var(--color_gray0);
  border-bottom: 1px solid var(--color_gray0);
}

main {
  height: 100%;
  align-items: stretch;
  justify-content: center;
}

main>article {
  flex: 1 1 100%;
  padding: var(--padding25);
  gap: var(--padding25)
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}

h3 {
  font-size: 1.4em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
}

p.tooltip {
  cursor: help;
  text-decoration: underline dotted;
  position: relative
}

p.tooltip:target::after,
p.tooltip:hover::after {
  background: var(--color_gray0);
  border-radius: var(--radius);
  top: 150%;
  content: "⚠️ " attr(data-tooltip);
  display: block;
  left: -50%;
  padding: 10px;
  position: absolute;
  min-width: 280px;
  z-index: 1;
}


.loader_wrapper {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  width: clamp(30px, 100%, 48px);
  aspect-ratio: 1 / 1;
  border: 3px solid var(--color_gray);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: clamp(20px, 100%, 40px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--color_primary) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}