.front_page {
  .hero {
    min-height: 30vh;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      position: absolute;
      object-position: center top;
      object-fit: none;
    }

    h1 {
      padding: 10px;
      background-color: var(--color_white_trans3);
      border-radius: var(--radius);
      z-index: 1;
    }
  }

  .portfolio_cards {
    display: flex;

    h2.title {
      padding: 10px;
      background-color: var(--color_white_trans3);
      border-radius: var(--radius);
      z-index: 1;
    }
  }

  .two_block {
    justify-content: space-between;
  }

  @media only screen and (max-width: 480px) {
    .two_block {
      flex-direction: column;
    }
  }
}


