.MediaGallery {}

.wrapper {
   width: auto;
   /*box-shadow: var(--shadow_box);*/
}

.preview {
   height: 450px;
   width: 450px;
   overflow: hidden;
   box-shadow: var(--shadow_box);
}

.preview>img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: left;
   border-radius: var(--radius);
}

.preview>span {
   display: none;
}

.preview>span>img {
   border-radius: var(--radius);
   object-fit: cover;
   box-shadow: var(--shadow_box);
}

.preview:hover {
   overflow: visible;
   z-index: 999;
}

.preview:target>img,
.preview:hover>img {
   display: none;
}

.preview:target>span,
.preview:hover>span {
   display: block;
   position: absolute;
}

.thumbnails {
   height: 450px;
   overflow: scroll;
}

.thumbnails>button {
   padding: 0px 5px 5px 0px;
   height: 150px;
   width: 150px;
   cursor: pointer;
}

.thumbnails>button>img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: var(--radius);
   box-shadow: var(--shadow_box);
}

.thumbnails::-webkit-scrollbar {
   display: none;
}

.thumbnails::-webkit-scrollbar-thumb {
   display: none;
}