.MediaGallery {
   .wrapper {
      width: auto;

      .thumbnails {
         height: 450px;
         overflow: scroll;

         button {
            padding: 0px 5px 5px 0px;
            height: 150px;
            width: 150px;
            cursor: pointer;

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: var(--radius);
               box-shadow: var(--shadow_box);
            }
         }

         &::-webkit-scrollbar {
            display: none;
         }

         &::-webkit-scrollbar-thumb {
            display: none;
         }
      }

      .preview {
         height: 450px;
         width: 450px;
         overflow: hidden;
         box-shadow: var(--shadow_box);

         &:target,
         &:hover {
            overflow: visible;
            z-index: 999;

            img {
               display: none;
            }

            span {
               display: block;
               position: absolute;
            }
         }

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            border-radius: var(--radius);
         }

         span {
            display: none;

            img {
               border-radius: var(--radius);
               object-fit: cover;
               box-shadow: var(--shadow_box);
            }
         }
      }
   }
}