.MediaGallery {
   height: 450px;
}

.preview {}

.thumbnails {
   overflow: scroll;

}

.thumbnails::-webkit-scrollbar {
   display: none;
}

.thumbnails::-webkit-scrollbar-thumb {
   display: none;
}