.content_wrapper {
   background-color: white;
   gap: var(--padding25);
}

.content_wrapper>.title {
   background-color: white;
}

.content_wrapper>.text {
   padding: 0 var(--padding25);
}