.button_wrapper {
  z-index: 3;

  .toggle_menu_button {
    z-index: 33;
    margin: 0;
    padding: 10px;
    transition: background-color .2s 0s ease-out, box-shadow .4s 0s ease-out;
    border-radius: var(--radius);
    background-color: var(--color_gray);
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      background-color: var(--color_white);
      text-decoration: none;
      color: var(--color_white);

      .toggle_bar {
        background-color: var(--color_gray);

        &:nth-of-type(1) {
          transform: translatey(1.5px) rotate(-4.5deg);
        }

        &:nth-of-type(2) {
          opacity: 0.9;
        }

        &:nth-of-type(3) {
          transform: translatey(-1.5px) rotate(4.5deg);
        }
      }
    }


    &.active {
      background-color: var(--color_white);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

      &:hover {
        box-shadow: var(--shadow_block);

        .toggle_bar {
          &:nth-of-type(1) {
            transform: translatey(13.5px) rotate(-40.5deg);
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(3) {
            transform: translatey(-13.5px) rotate(40.5deg);
          }
        }
      }

      .toggle_bar {
        background-color: var(--color_gray);

        &:nth-of-type(1) {
          transform: translatey(11px) rotate(-45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          transform: translatey(-15px) rotate(45deg);
        }
      }
    }

    .toggle_bar {
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      margin: 10px auto;
      transition: transform .4s, background-color .2s 0s ease-out;;
      background-color: var(--color_white);

      &:nth-of-type(1) {
        margin-top: 0;
      }

      &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }
  }
}

.toggle_sidebar {
  display: block;
  position: fixed;
  right: -10%;
  pointer-events: none;
  top: 0;
  opacity: 0;
  width: 480px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: right .4s, opacity .4s;

  &.active {
    right: 0;
    opacity: 100%;
    pointer-events: auto;
    z-index: 2;
  }
}

