.site_header {
  z-index: 2;
  top: 0;
  position: sticky;
  transition: height .4s;

  &.is_sticky {
    .header_line {
      &:first-child {
        box-shadow: var(--shadow_box);
        background-color: var(--color_gray0);
      }

      &:last-child {
        transform: translate(0, -100%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: -1;
      }
    }
  }

  .header_line {
    padding: calc(var(--padding25) / 2) var(--padding25);
    justify-content: space-between;
    background-color: var(--color_white);

    &:first-child {
      z-index: 2;
      border-radius: var(--radius);
      transition: box-shadow .4s, background-color .4s;
    }

    &:last-child {
      transform: translate(0, 0);
      padding-bottom: var(--padding25);
      opacity: 100;
      visibility: visible;
      pointer-events: auto;
      transition: opacity .4s, top .3s, visibility .4s, transform .4s;
    }

    .logo_contacts_wrapper {
      gap: var(--padding25);


      .logo_wrapper {
        width: 120px;
        height: 60px;
        align-self: center;

        img {
          border-radius: var(--radius);
        }
      }

      .contacts_wrapper {
        padding: 0 var(--padding25);
        height: 60px;
        gap: 5px;
        justify-content: center;
        background-color: var(--color_white);
        border-radius: var(--radius);
      }
    }

    .menu_wrapper {
      gap: var(--padding50);
      position: relative;

      .header_menu {
        display: flex;
        align-self: center;
        gap: var(--padding25);

        a {
          padding: 10px 15px;
          background-color: var(--color_white);
          border-radius: var(--radius);
          border: var(--border);
          text-decoration: none;
        }
      }

    }

    .social_wrapper {
      background-color: bisque;
    }
  }

  @media only screen and (max-width: 480px) {
    .header_menu {
      display: none;
    }
  }
}


