article.front_page {
   flex: 1 1 100%;
   padding: var(--padding25);
   gap: var(--padding25)
}

.hero {
   min-height: 30vh;
   position: relative;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.hero>img {
   position: absolute;
   object-position: center top;
   object-fit: none;
}

.hero>h1 {
   padding: 10px;
   background-color: var(--color_white_trans3);
   border-radius: var(--radius);
   z-index: 1;
}


h2.title {
   padding: 10px;
   background-color: var(--color_white_trans3);
   border-radius: var(--radius);
   z-index: 1;
}

.two_block {
   justify-content: space-between;
}

@media only screen and (max-width: 480px) {
   .two_block {
      flex-direction: column;
   }
}




.buttons>a {
   position: relative;
   color: #000;
   transition: background-color .4s;
}

.buttons>a::before {
   position: absolute;
   content: '';
   width: fit-content;
   background-color: #154088;
}

.buttons>a {
   color: #00bfff;
   position: relative;
   cursor: pointer;
   text-decoration: none;
}

.buttons>a:after {
   content: "";
   display: block;
   position: absolute;
   right: 0;
   bottom: -3px;
   width: 0;
   height: 2px;
   background-color: black;
   transition: width 0.3s;
}

.buttons>a:hover:after {
   content: "";
   width: 100%;
   display: block;
   position: absolute;
   left: 0;
   bottom: -3px;
   height: 2px;
   background-color: red;
   transition: width 0.3s;
}

.work_example {
   display: flex;
}