.site_header {
   padding-top: var(--padding25);
   padding-bottom: var(--padding25);
   gap: var(--padding25);
   background-color: var(--color_white_trans0);
}

.header_line {
   padding: 0 var(--padding25);
   justify-content: space-between;
}

.logo_contacts_wrapper {
   gap: var(--padding25);
}

.logo_wrapper {
   align-self: center;
}

.contacts_wrapper {
   align-self: center;
}

.menu_wrapper {
   gap: var(--padding50);
}

.header_menu {
   display: flex;
   align-self: center;
   gap: var(--padding25);
}



.social_wrapper {
   background-color: bisque;
}

@media only screen and (max-width: 480px) {
   .header_menu {
      display: none;
   }
}